@{
    ViewData["Title"] = "Acerca de";
}
<h1>@ViewData["Title"]</h1>

<h2>Misión, visión y valores</h2>
<p>
    TechSide es una compañía de base tecnológica y de seguridad de la información,
    enfocada en generar valor a sus clientes, impulsando el cumplimiento de sus
    objetivos estratégicos mediante el uso de metodologías estructuradas y
    adaptables.
    Nuestra visión es ser reconocidos como una empresa con servicios de calidad,
    excelencia e integralidad, así como distinguidos en ser un apoyo estratégico, a
    través de la generación de valor y con un gran nivel de satisfacción de sus
    clientes, empleados y socios
</p>

<p>
    Somos una empresa comprometida a compartir conocimientos, experiencias y esfuerzo, para
    poder ofrecer el mejor servicio, tenemos la vocación por ayudar a pensar y a tomar decisiones
    cuando nuestros clientes se enfrentan a desafíos tecnológicos, conocer y satisfacer las
    necesidades, dando una respuesta rápida y eficaz a sus peticiones y honestidad al trabajar con
    transparencia e integridad en nuestras relaciones del día a día, rechazando prácticas de
    negocio injustas, orientadas a obtener una ventaja particular.

</p>
