@model Files.Models.Folder

@{
    ViewData["Title"] = "Editar carpeta";
}

<h1>Editar</h1>

<h4>Carpeta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="FolderId" class="control-label"></label>
                <input asp-for="FolderId" class="form-control" />
                <span asp-validation-for="FolderId" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsActive" />
            <input asp-for="DateRegistration" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
