@model Files.Models.Archive

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Archive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Base64" class="control-label"></label>
                <input asp-for="Base64" class="form-control" />
                <span asp-validation-for="Base64" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extension" class="control-label"></label>
                <input asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderId" class="control-label"></label>
                <input asp-for="FolderId" class="form-control" />
                <span asp-validation-for="FolderId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnlyRead" /> @Html.DisplayNameFor(model => model.OnlyRead)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="DateRegistration" class="control-label"></label>
                <input asp-for="DateRegistration" class="form-control" />
                <span asp-validation-for="DateRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
