
<div class="fixed-bottom mb-4">
    <div class="row">
        <div class="col-md-4 offset-8">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Chat
                    </button>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lista de usuarios</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Usuario</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <br />
                                <div id="divListUusers"></div>

                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col">
                                        <br />
                                        <div class="form-group">
                                            <textarea class="form-control" id="textAreaChat" rows="7" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-8">
                                        <input type="text" maxlength="250" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="hidden" id="userIdSource"/>
                                        <input type="hidden" id="userIdDestiny"/>
                                        <button class="btn btn-primary btn-block" onclick="sendMessage();">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>