@model Activities.Models.RowEntity

<form asp-action="ChangeRowStatus" asp-controller="Rows">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ActivityId" />
    <div class="form-group">
        <div class="input-group mb-3">
            @if (Model.DateStop.ToShortDateString() == DateTime.Now.ToShortDateString())
            {
                <select asp-for="RowStatusId" class="form-control" asp-items="@ViewBag.ListRowStatus" disabled>
                </select>
            }
            else
            {
                <select asp-for="RowStatusId" class="form-control" asp-items="@ViewBag.ListRowStatus">
                </select>
                <span asp-validation-for="RowStatusId" class="text-danger"></span>
                <button class="btn btn-outline-primary btn-sm">-></button>
            }

        </div>
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
