@model IEnumerable<Activities.Dtos.ActivityDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Agregar más jale</a>
</p>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            @item.Name
        </div>
        <div class="card card-body">
            @await Html.PartialAsync("_ListRows",item.ListRows)
            <p>
                @Html.ActionLink("Agregar nuevo jale", "create","rows", new { idActivity = item.Id })
            </p>
        </div>
        <div class="card card-footer">
            @item.Description
        </div>
    </div>
}