@model IEnumerable<Activities.Dtos.ActivityDto>

@{
    ViewData["Title"] = "Lista de actividades";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Agregar nuevo grupo de actividades</a>
</p>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            @item.Name
        </div>
        <div class="card card-body">
            @await Html.PartialAsync("_ListRows",item.ListRows)
            <p>
                @Html.ActionLink("Agregar nueva tarea", "create","rows", new { idActivity = item.Id })
            </p>
        </div>
        <div class="card card-footer">
            @item.Description
        </div>
    </div>
}

@section Scripts {
    <script>
    $(document).ready(function() {
        $('#table').DataTable();
    });
    </script>
}