@using Newtonsoft.Json
@model IEnumerable<Activities.Dtos.ActivitySummaryDto>
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Actividades</h1>
</div>
<img src="~/images/PortadaActividades.jpg" class="img-fluid" alt="Responsive image">

<div class="row">
@foreach (var item in Model)
{    
<div class="col-xl-8 col-lg-6">
    <div class="card mt-3">
        <div class="card-header">
            <p>@item.Name</p>
        </div>
        <div class="card-body">
            <div>
                <canvas id="chart_@item.Id"></canvas>
            </div>
        </div>
        <div class="card-footer">
        Total de actividades: <span>@item.ListRowStatus.Count()</span>  
        </div>    
    </div>    
    </div>    
}
</div>
        
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/chart.js"></script>
}