@using Newtonsoft.Json
@model IEnumerable<Activities.Dtos.ActivitySummaryDto>
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Actividades</h1>
</div>
<img src="/images/PortadaActividades.jpg" class="img-fluid" alt="Responsive image">

<div class="row">
@foreach (var item in Model)
{    
<div class="col-xl-8 col-lg-6">
    <div class="card mt-3">
        <div class="card-header">
            <p>@item.Name</p>
        </div>
        <div class="card-body">
            <div>
                <canvas id="chart_@item.Id"></canvas>
            </div>
        </div>
        <div class="card-footer">
        Total de actividades: <span>@item.ListRowStatus.Count()</span>  
        </div>    
    </div>    
    </div>    
}
</div>
        

@*<div>
    <canvas id="myPieChart"></canvas>
</div>*@

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var url;

        url = "Home/ActivitySummary";
        fetch(url)
        .then(response =>{
            if(response.ok){
                return response.json();
            }
        })
        .then(response =>{
            console.log(response);
            response.forEach(element =>{
                var labels;
                var data;
                var colors;

                labels = getLabels(element);
                data = getData(element);
                colors = getColors(element);

                buildChart("chart_"+element.id, labels, data, colors);
            });
        });

        function getLabels(activitySummary){
            var labels;

            labels = new Array();
            activitySummary.listRowStatus.forEach(element => {
                labels.push(element.name);
            });

            return labels;
        }

        function getData(activitySummary){
            var data;

            data = new Array();
            activitySummary.listRowStatus.forEach(element => {
                data.push(element.total);
            });

            return data;
        }

        function getColors(activitySummary){
            var data;

            data = new Array();
            activitySummary.listRowStatus.forEach(element => {
                data.push(element.color);
            });

           return data;
        }

        function buildChart(chartId, labels, data, colors){
             var ctx = document.getElementById(chartId);
            var myPieChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                labels: labels,
                datasets: [{
                  data: data,
                  backgroundColor: colors,
                  hoverBackgroundColor: colors,
                  hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
              },
              options: {
                maintainAspectRatio: false,
                tooltips: {
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                },
                legend: {
                  display: false
                },
                cutoutPercentage: 80,
              },
            });
            }
    </script>
@*    <script>
        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ["Direct", "Referral", "Social"],
            datasets: [{
              data: [55, 30, 15],
              backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
              hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
              hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
            },
            legend: {
              display: false
            },
            cutoutPercentage: 80,
          },
        });
    </script>
    <script>
        const labels = [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
        ];

        const data = {
          labels: labels,
          datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
          }]
        };

        const config = {
          type: 'line',
          data: data,
          options: {}
        };
    </script>
    <script>
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );

    </script>
    @foreach (var item in Model)
    {
        <script>
            const chart_@item.Id = new Chart(
                document.getElementById('chart_@item.Id'),
                config
            );
        </script>
    }*@
}