@{
    ViewData["Title"] = "Acerca de";
}
<div class="container">

    <h1 class="text-primary">@ViewData["Title"]</h1>

    <p class="text-info">
        Somos una empresa joven que se preocupa por ofrecer las mejores soluciones a medida de tu negocio con la finalidad de optimizar tus procesos.
    </p>
    <p class="text-info">
        Siendo tus aliados en el desarrollo de aplicaciones móviles y soluciones digitales, nuestro principio es la innovación.
    </p>
    <p class="text-info">
        Además de brindar toda la ayuda y las herramientas desarrollando software para agilizar, facilitar y perfeccionar las labores diarias de nuestros clientes.
    </p>
    <p class="text-info">
        Diseñamos, desarrollamos y administramos aplicaciones únicas con gran experiencia para el usuario, escalables y con excelentes tiempos de implementación.
    </p>
</div>

