@model HelpDesk.Models.CompanyEntity

@{
    ViewData["Title"] = "Editar empresa";
}

<div class="container">


    <h1>Editar</h1>

    <h4>@Model.Name</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="DateRegistration" />
                <div class="form-group">
                    <label asp-for="DateRegistration" class="control-label"></label>
                    <input value="@Model.DateRegistration" class="form-control" disabled />
                    <span asp-validation-for="DateRegistration" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" value="Save" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Regresar a la lista</a>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
